/* Main elements */
body {
  background-color: #0d044a;
  color: #0d044a;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h1{
  margin-top: 0;
}
/* Id definitions */

#navbar {
  color: white;
  margin-top:0;
}

#game-box {
  background-color: #feffa3;
  margin: 0 auto;
  padding-bottom: 70px;
}

#menu-box {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: inherit;
}

#countdown {
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
}

#score {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

/* Class definitions */
.turn-notification {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
}

.buttons {
  margin-bottom: 70px;
}

.btn {
  background-color: #0d044a;
  color: white;
  font-size: 1.2rem;
  width: 48%;
  height: 50px;
  border: 0;
  margin: 0 auto;
  outline: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.green {
  background-color: #1ec98e;
}

.red {
  background-color: #ff6961;
}

.inactive {
  background-color: grey;
}

.btn:hover {
  background-color: white;
  color: #0d044a;
}

.btn:active {
  position: relative;
  top: 1px;
}

.resetbtn {
  float: right;
}

.clock {
  padding: 30px 0;
}

.word-list {
  text-align: center;
  background-color: white;
  list-style-type: none;
  margin: 50px 0 20px;
  padding: 0 0 20px;
}

.main-word {
  font-size: 2rem;
  background-color: #ff6961;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 15px;
}

.score-btn {
  margin-top: 20px;
  width: 100%;
}

.score-table {
  table-layout: fixed;
  width: 100%;
}

