/* Main elements */
body {
  background-color: #0d044a;
  color: #0d044a;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

h1 {
  margin-top: 0;
}
/* Id definitions */

#navbar {
  color: white;
  margin-top: 0;
}

#game-box {
  background-color: #feffa3;
  margin: 0 auto 60px;
  padding-bottom: 70px;
}

#menu-box {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: inherit;
}

#countdown {
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
}

#score {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

/* Class definitions */

/* Turn notification */

.turn-notification {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 0;
}

/* Buttons */

.buttons {
  margin-bottom: 70px;
}

.btn {
  background-color: #0d044a;
  color: white;
  font-size: 1.2rem;
  width: 48%;
  height: 50px;
  border: 0;
  margin: 0 auto;
  outline: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.green {
  background-color: #1ec98e;
}

.red {
  background-color: #ff6961;
}

.inactive {
  background-color: grey;
}

.btn:hover {
  background-color: white;
  color: #0d044a;
}

.btn:active {
  position: relative;
  top: 1px;
}

.resetbtn {
  float: right;
}

/* Clock styling */

.clock {
  padding: 30px 0;
}

/* Word list styling */

.word-list {
  text-align: center;
  background-color: white;
  list-style-type: none;
  margin: 50px 0 20px;
  padding: 0 0 20px;
}

.main-word {
  font-size: 2rem;
  background-color: #ff6961;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  margin-bottom: 15px;
}

.score-btn {
  margin-top: 20px;
  width: 100%;
}

.score-table {
  table-layout: fixed;
  width: 100%;
}

/* Score modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ff6961;
  color: white;
}

.modal-body {
  padding: 10px 16px;
}
