/* Main elements */

h1 {
  color: blue;
}

body {
  background-color: #feffa3;
}

/* Class definitions */
.playbtn {
  background-color: greenyellow;
}
.playbtn:hover {
  background-color: #5cbf2a;
}

.playbtn:active {
  position: relative;
  top: 1px;
}

.main-word {
    font-weight: bold;
}
